body{
    margin: 0;
    padding: 0;
    font-family: 'Source Sans 3', sans-serif; /*font family */
    background-image: url(./images/banner.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #f5f5f5;

}
header{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 1.2%;
}

#left h1{
    /* 1 rem = 16 px as a inline empty container go for the span tag for block go for the div */

    font-size: 1rem;
    color: white;
}

#left h1 span{
    font-weight: 100;
}

#header-right-content{
    display: flex;
    /* for vertical axis alignment  */
    align-items: center;
    list-style-type: none;  /*to remove the circle*/
    margin: 0;
   

}

#header-right-content a{
    text-decoration: none ;  /*to remove the underline*/
    padding: 1rem;           /*to the distance between the list items*/
    display: block;
}

#header-right-content button{
    font-size: 1rem;
    width: 5.2rem;
    height: 2.2rem;
    border-radius: 5px; /*to convert the sharp edges with curve edges*/
    color: white;
    background-color: transparent;
    border: 1.5px none white;
    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.5);
}

#header-right-content a{
    color: white;
}
#layout-drop{
    position: relative;
}
#menu{
    list-style-type: none;
    background-color: rgba(255, 255, 255, 0.826);
    position: absolute;
    top: 100%;
    right: 0;
    padding: 0;
    width: 180%;
    display: none;
    
}

#menu a{
    color: black;
    border-bottom: 2px solid rgba(128, 128, 128, 0.511);
}
#menu a:hover{
    
    background-color: rgba(255, 166, 0, 0.668);
    color: white;
}
#layout-drop:hover #menu{
    display: block;
}

#submenu{
    position: relative;
}

#Option{
    list-style-type: none;
    padding: 0;
    top: 0;
    right: 100%;
    position: absolute;
    width: 100%;
    display: none;
}

#Option a{
    color: black;
    border-bottom: 2px solid rgba(128, 128, 128, 0.511);
    background-color: rgba(255, 255, 255, 0.826);
}
#Option a:hover{
    
    background-color: rgba(255, 166, 0, 0.668);
    color: rgba(255, 255, 255, 0.573);
}

#submenu:hover #Option{
    display: block;
}


#alpha{
    /* display: flex; */
    /* justify-content: center;  horizontal center */
    /* background-color: white; */

    /* other way to make horizontal Center   we have to change the width for that */
    /* width: 40%;
    margin: auto; */
    text-align: center;
    margin-top: 7rem;
}

#alpha h1{
    color: rgba(255, 255, 255, 0.974);
    font-size: 4rem;
    margin-bottom: 0;
    font-weight: 85;
    
}

#alpha p{
    color: white;
    font-size: 1.3rem;
    margin-bottom: 2rem;
    
}

#alpha button{
    width: 12%;
    height: 3rem;
    border-radius: 1px;
    border: none;
    color: grey;
    margin-right: 1rem;
    font-size: 1rem;
    background-color: white;
}

#alpha #Learn{
    background-color: transparent;
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.764);
}

#alpha #its-alpha-div{
    /* padding-top: 5rem; */
    padding-bottom: 8rem;
}


#mobile{
    background-color: white;
    width: 67%;
    margin: auto;
    text-align: center;
    border-radius: 5px;
    padding-top: 2rem;
    margin-top: 0rem;
    color: grey;
    
    /* text-align: center; */
}

#mobile h1{
    font-size: 2.5rem;
    font-weight: 85;
}

#mobile p{
    font-size: 1.25rem;
    border-top: 2px solid rgba(128, 128, 128, 0.825);
    width: 60%;
    margin: auto;
    padding-top: 2rem;
    margin-bottom: 2rem;
}

#mobile img{
    /* to fit with the paren width  */
    width: 100%;
}




/* third session */
#icon{
    background-color: white;
    width: 67%;
    margin: auto;
    margin-top: 2rem;
    border-radius: 5px;
    /* use % for width and position:  */
}

#icon div{
    /* all 4 div will be accesed */
    width: 45%;
    display: inline-block;
    padding-top: 2rem;
    text-align: center;
    
}

/* Access the each icon and then change its property  */
#icon .fa-bolt-lightning{
    /* how we are changing the font in that way only I have to change the all for the icon also  */
    color: white;
    background-color: #e89980;
    font-size: 1.5rem;
    /* if we want the perfect circle then go for the radius  */
    border-radius: 42px;
    padding: 2rem 2rem;
    /* width: 25%; */
    
}

#icon .fa-chart-area{
    /* how we are changing the font in that way only I have to change the all for the icon also  */
    color: white;
    background-color: #7fcdb8;
    font-size: 1.5rem;
    /* if we want the perfect circle then go for the radius  */
    border-radius: 42px;
    padding: 2rem 2rem;
}

#icon .fa-cloud{
    /* how we are changing the font in that way only I have to change the all for the icon also  */
    color: white;
    background-color: #90b0ba;
    font-size: 1.5rem;
    /* if we want the perfect circle then go for the radius  */
    border-radius: 42px;
    padding: 2rem 2rem;
}


#icon .fa-lock{
    /* how we are changing the font in that way only I have to change the all for the icon also  */
    color: white;
    background-color: #e5cb95;
    font-size: 1.5rem;
    /* if we want the perfect circle then go for the radius  */
    border-radius: 42px;
    padding: 2rem 2rem;
}

/* Acess the first div  */
#icon #div-1{
    border-right: 2px solid #e8e8e8;
    border-bottom: 2px solid #e8e8e8;
    position: relative;
    /* now I have to move the content  */
    top: 2px;
    left: 3px;

}

#icon #div-4{
    border-top: 2px solid  #e8e8e8;
    border-left: 2px solid #e8e8e8;
}

/* acess the card vala part  */


#card{
    width: 67%;
    margin: auto;
    margin-top: 2rem;
    display: flex; 
    justify-content: space-between;
}

#card div img{
    width: 100%;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;

    
}

#card div{
    background-color: white;
    width: 45%;
    border-radius: 5px;
    text-align: center;

}

/* changing the button properties */


#card div button{
    width: 7.12rem;
    height: 2.5rem;
    margin-bottom: 2rem;
    background-color: white;
    color: rgba(0, 0, 0, 0.751);
    border: 2px solid rgba(128, 128, 128, 0.628);
    border-radius: 5px;
}

/* adding the over effect  */
#card div button:hover{
    background-color: rgba(128, 128, 128, 0.16);
}


#Signup {
    width: 100%;
    margin: auto;
    height: 50%;
    margin-top: 2rem;
    background-color: #e89980;
    
    
}

#Signup #sign-div{
    width: 40%;
    margin: auto;
    color: white;
    background-color: #e89980;
    align-items: center;
    text-align: center;
    padding: 4rem 0;
    

    
}
#Signup #sign-div h1{
    margin-top: 0;
    font-size: 2rem;
}

#Signup #sign-div p{
    margin-top: 0;
    font-size: 1rem;
}

/* now Acess the input tag  */
#Signup #sign-div input{

    
    height: 2.4rem;
    font-size: 1.2rem;
    padding: 0 14px;
    border-radius: 5px;
    border: none;
    background-color: rgba(255, 255, 255, 0.297);
}

/* now Acess the input tag  */
#Signup #sign-div input::placeholder{
    /* now I have to reduce the font size and also change the font color; */
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.712);
}

/* now access  the button  */
#Signup #sign-div button{
    width: 6.12rem;
    height: 2.5rem;
    background-color: white;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    color: #e89980;
}

/* Now Designing the footer  */
footer{
    padding: 4em 0 6em 0;
    text-align: center;
}
footer #footer-1{
    /* I want the all the list iteams in one line  */

    list-style-type: none;
    /* display: inline; */
    display: flex;
    justify-content: center;
    gap: 25px;
    /* background-color: red; */
    
}

footer #footer-1 a{
    /* to change the all logo color  */
    color: gray;
}


/* now the access the second ul  */
footer #footer-2{
    /* remove the bullet points  */
    list-style-type: none;
    /* because a is the block level element and ul also  */
    /* so now I want each should come in single line  */

    display: flex;
    justify-content: center;

    gap: 20px;
}

footer #footer-2 a{

    /* to change the underline type  */
    text-decoration: dashed;
}

/* now to increase the size of the each icon */
footer #footer-1 .fa-brands{

    color: rgba(128, 128, 128, 0.571);
    font-size: 1.5rem;  /*this will increase the size of  the any icon */
}

footer #footer-1 .fa-solid{
    color: red;    color: rgba(128, 128, 128, 0.571);
        
    font-size: 1.5rem;  /*this will increase the size of  the any icon */
}

/* to remove the icon for the destop version  */
#mobile-menu{
    display: none;
}

/* ---------------------------Mobile Version --------------------------------*/

@media (max-width:600px){
    body{

        
        background-size: 180%;
        /* we have to move the background-image position  
        center = it is for x and also for the y axis*/
        background-position-x: center;
       
    
    }

    /* now I want the display icon should be visible in mobile version  */
    #mobile-menu{
        display: inline-block;
        color: white;
        background-color: rgba(255, 255, 255, 0.291);
        padding: 7px 20px;
        border-radius: 4px;
        margin-top: 10px;
        margin-left: 10px;
    }
    /* we dont want header section for  the mobile version  */

    header{
        display: none;
    }

    /* acess the alpha ::selection */
     /* ----------alpha section ------------------ */
    #alpha{
        width: 85%;
        margin: auto;
        margin-top: 0rem;
        
    }

    #alpha h1{
        font-size: 2rem;
    }
    
    #alpha p{
        font-size: 1.2rem;
    }

    #alpha button{
        width: 100%;
        margin-bottom: 1.5rem;
        border-radius: 5px;
    }

    #alpha #its-alpha-div{
        padding-top: 0rem;
        padding-bottom: 0rem;
    }

    /* ----------Mobile section ------------------ */
    #mobile{
        
        width: 100%;
        border-radius: 0px;
        margin-top: 0rem;
    }

    #mobile h1{
        font-size: 1.5rem;
    }
    
    #mobile p{
        font-size: 1.1rem;
        width: 95%;
    }
    br{
        display: none;
    }













}
